# entornos virtuales y configuracion de editor.
.venv/
.env
.vscode/

# cache de python y notebooks.
__pycache__/
*.pyc
.ipynb_checkpoints/

# archivos de datos pesados.
*.csv
*.parquet

# permitir archivos gitkeep para conservar la estructura de directorios.
!*.gitkeep